.col {
    flex-basis: auto;
}

.row {
    justify-content: center;
}

.delete_task {
    float: right;
}
.btn_checked_all_tasks {
    float: right;
    margin-right: 25px;
}
.addTaskBtn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.spinner {
    left: -365px;
}
