.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1051;
    height: 100vh;
    width: 100%;
    left: 0;
    background-color: rgba(84, 90, 168, 0.3);
}

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}
.spinner_border {
    width: 100px !important;
    height: 100px !important;
    border: 0.7em solid rgb(252, 252, 252);
    border-top-color: rgb(252, 252, 252);
    border-top-style: solid;
    border-top-width: 0.7em;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 0.7em;
    border-bottom-color: rgb(252, 252, 252);
    border-bottom-style: solid;
    border-bottom-width: 0.7em;
    border-left-color: rgb(252, 252, 252);
    border-left-style: solid;
    border-left-width: 0.7em;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
