.p {
    padding: 10px 10px;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: #cec1bc;
    font-size: 20px;
    text-decoration: line-through;
}
.task {
    padding: 10px 10px;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: #cec1bc;
    font-size: 20px;
    padding: 10px 10px;
}
