.p {
    padding: 10px 10px;
    font-size: 20px;
    background-color: #cec1bc;
    font-size: 20px;
    text-decoration: line-through;
}
.task_p p {
    margin-bottom: 1px;
}
.task {
    align-items: center;
    display: flex;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #b1b5cc;
    font-size: 20px;
}

.btn {
    margin-left: 18px;
}

.checkBox {
    margin-left: auto;
}

.checkBox > input {
    width: 20px;
    height: 20px;
}

.showBorderStyle {
    align-items: center;
    display: flex;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #b1b5cc;
    font-size: 20px;

    border: 12px solid;
    border-color: rgb(0 0 0 / 10%);
}
