.Todos {
    background: rgb(233, 224, 245);
    border-radius: 1em;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
    top: 75px;
}
